<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>My Custom Color</key>
		<string>ff7373</string>
	</dict>
	<key>useMyColors</key>
	<true/>
</dict>
</plist>
